<div class="page-header">
  <h1>モンスターリスト</h1>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>名前</th>
      <th>サブタイプ</th>
      <th>レベル</th>
      <th>パワー</th>
      <th>ライフ</th>
    </tr>
  </thead>
  <tbody>
  <%= render @monsters %>
  </tbody>
</table>